apiVersion: apps/v1
kind: Deployment
metadata:
  name: tissea-front
  namespace: project-gp-2
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tissea-front
  template:
    metadata:
      labels:
        app: tissea-front
    spec:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1001
        fsGroup: 1001
      containers:
      - name: tissea-front
        image: harbor.kakor.ovh/ipi/ipi-grp-2-front:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: VITE_API_URL
          value: "https://api-tissea-grp2.apps.openshift.kakor.ovh"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "250m"
        livenessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 30
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 3000
          initialDelaySeconds: 10
          periodSeconds: 5